doctype
html
	head
		title= "Jack's Web Interface"
		link(rel="stylesheet", href="node-backend.css")

	body
		canvas#canvas

		#info

			#axis
				p#x x: ?
				p#y y: ?
				p#z z: ?
		
			p#mode Mode: ?

			p#motor10vel Motor1 0: ?
			p#motor11vel Motor1 1: ?

			br

			p#motor20vel Motor2 0: ?
			p#motor21vel Motor2 1: ?

			p#servoPos Servo Pos: ?

			p#acel Acel: ?

		script(src="socket.io/socket.io.js")
		script(src="node-backend.js")
