doctype
html
	head
		title= "Jack's Web Interface"
		link(rel="stylesheet", href="node-backend.css")

	body
		canvas#canvas

		#info
			p#mode Mode: ?

			#axis
				p#x x: ?
				p#y y: ?
				p#z z: ?

			p#motor10vel M1 0: ?
			p#motor11vel M1 1: ?
			p#motor20vel M2 0: ?
			p#motor21vel M2 1: ?

			p#servoPos S Pos: ?

			p#acel

		script(src="socket.io/socket.io.js")
		script(src="node-backend.js")
