doctype
html
	head
		title= "PWC Robotic's Club | Robot"
		link(rel="stylesheet", href="node-backend.css")

	body
		canvas#canvas

		script(src="socket.io/socket.io.js")
		script(src="mousetrap.min.js")
		script(src="mousetrap-bind-dictionary.min.js")
		script(src="node-backend.js")
