body {
	margin: 0;

	font-family: Helvetica;
	font-size: 2.25em;
}

canvas {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
}

#axis {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	background-color: black;
	color: white;
}

p {
	margin: 0.25em;
}

#info {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
}

#motor10vel {
	color: red;
}
#motor11vel {
	color: orange;
}
#motor20vel {
	color: darkblue;
}
#motor21vel {
	color: blue;
}
