doctype
html
	head
		title= "PWC Robotic's Club | Robot"
		link(rel="stylesheet", href="node-backend.css")

	body
		#iCanvasContainer
			canvas#iCanvas

		script(src="socket.io/socket.io.js")
		script(src="node-backend.js")
