doctype html
html
	head
		title bitbot | mobile

		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(rel='stylesheet',href='css/main.css')
		link(rel='stylesheet',href='css/mobile.css')

	body
		img#cameraFeed(src="", alt="Bitbot's video feed")

		#servoDiv
			input#servoRange(class='slider horSlider', type='range', min='0', max='220', value='110')
		br

		#motorDiv
			input#motorRange(class='slider verSlider', type='range', min='0', max='240', value='120')

		script(src='socket.io/socket.io.js')
		script(src='js/mobile.js')
